{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content_title %}
<h1>Order Status Overview</h1>
{% endblock %}

{% block content %}
<div class="dashboard-module">
  <h2>📦 Orders by Status</h2>
  <ul>
    <li>Placed: {{ placed_count }}</li>
    <li>Pending: {{ pending_count }}</li>
    <li>Dispatched: {{ dispatched_count }}</li>
    <li>Delivered: {{ delivered_count }}</li>
    <li>Cancelled: {{ cancelled_count }}</li>
    <li>In Transit: {{ In_transit_count }}</li>
    <li>In Processing: {{ In_Processing_count }}</li>
  </ul>
</div>
{{ block.super }}
{% endblock %}
