{% extends 'base.html' %}
{% block content %}
  <h2>Order Summary</h2>
  {% if request.session.already_redeemed %}
    <div class="alert alert-info text-center">
      You’ve already redeemed your joining kit. Below is your order summary.
    </div>
  {% endif %}

  {% if order %}
  <p><strong>Order ID:</strong> {{ order.id }}</p>
  <p><strong>Status:</strong> {{ order.status }}</p>

  <h3>Your Hamper Includes:</h3>
<ul>
  {% for item in hamper_items %}
    <li>{{ item.product.name }} (Qty: {{ item.quantity }})</li>
  {% empty %}
    <li>No items found in your hamper.</li>
  {% endfor %}
</ul>

  <div class="text-center my-3">
  <a href="{% url 'orders:track_order' %}" class="btn btn-info">Track Order</a>
  </div>
{% else %}
  <p>No order found for this user.</p>
{% endif %}
  
{% endblock %}
