body {
  background-color: #f8f9fa;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.4rem;
}
.card-product {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s;
}
.card-product:hover {
  transform: scale(1.03);
}
